<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="logconsole" xsi:type="Console">
        <layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="Comma-separated list (string)" escapeForwardSlash="false">
            <attribute name="time" layout="${longdate}" />
            <attribute name="level" layout="${level}" />
            <attribute name="thread" layout="${threadid}" />
            <attribute name="path" layout="${aspnet-request-url:IncludeHost=false:IncludeScheme=false}" escapeForwardSlash="false" />
            <attribute name="method" layout="${aspnet-request-method}" escapeForwardSlash="false" />
            <attribute name="message" layout="${message}" escapeForwardSlash="false" />
            <attribute name="requestId" layout="${aspnet-item:variable=requestId}" />
            <attribute name="operationId" layout="${aspnet-item:variable=operationId}" />
            <attribute name="duration" layout="${aspnet-item:variable=duration}" />
            <attribute name="status" layout="${aspnet-item:variable=status}" />
            <attribute name="exception" layout="${exception:format=Type,StackTrace,Data:maxInnerExceptionLevel=10}" escapeForwardSlash="false" />
        </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
  </rules>
</nlog>